*.rej
*.orig
*.a
*.o
*~
*.depend
build*
downloads
.repo
*.bz2
*.bak
repo
README
README-IMXBSP
fsl-setup-release.sh
setup-environment
/sources/base/
/sources/meta-browser/
/sources/meta-clang/
/sources/meta-freescale-3rdparty/
/sources/meta-freescale-distro/
/sources/meta-freescale/
/sources/meta-fsl-bsp-release/
/sources/meta-fus-murata-wireless/
/sources/meta-imx/
/sources/meta-mono/
/sources/meta-nxp-demo-experience/
/sources/meta-openembedded/
/sources/meta-python2/
/sources/meta-qt5/
/sources/meta-rust/
/sources/meta-timesys/
/sources/poky/
