*.rej
*.orig
*.a
*.o
*~
*.depend
build*
downloads
.repo
*.bz2
*.bak
repo
README
README-IMXBSP
fsl-setup-release.sh
setup-environment
/sources/base/
/sources/meta-browser/
/sources/meta-freescale-3rdparty/
/sources/meta-freescale-distro/
/sources/meta-freescale/
/sources/meta-fsl-bsp-release/
/sources/meta-openembedded/
/sources/meta-qt5/
/sources/poky/
/sources/meta-mono/
