# The Silex QCA9377 WLAN driver can use a file /lib/firmware/wlan/wlan_mac.bin
# to set the current MAC address. F&S U-Boot will dynamically generate an
# appropriate file that will show up in Linux as /sys/bdinfo/Silex-MAC. So
# basically a symbolic link pointing to this file would be sufficient. However
# the firmware loading mechanism that is used by the driver to load this file
# can not deal with sysfs directly because it can not determine the file size.
#
# So set up /lib/firmware/wlan/wlan_mac.bin to be a symbolic link pointing to
# /run/Silex-MAC and use this script here to copy the file from /sys/bdinfo to
# /run early in the boot process. /run is a RAM disk (tmpfs), so this will also
# work on a read-only root filesystem.

[Unit]
Description=Silex MAC Address Service
Before=network.target

[Service]
Type=simple
ExecStart=/bin/cp -f /sys/bdinfo/Silex-MAC /run/Silex-MAC

[Install]
WantedBy=network.target
